ICA_API_KEY=
ICA_MODEL=gpt-5.6-luna
ICA_BASE_URL=https://api.servicesessentials.ibm.com/v1
ICA_API_STYLE=responses
ICA_REASONING_EFFORT=xhigh
REQUIRE_CONFIGURED_MODEL=true
SIMULATED_SYSTEM_DELAY_SECONDS=0.8
